$lightblue: #CED5FF;
$lightgreen: #BCE7C1;
$blue: #3633D1;
$red: #AF0F0F;
$green: #138744;

@keyframes move-in-down {
  from { 
    transform: translateY(-25vh);
    opacity: 0;
  }
  to { 
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move-out-up {
  from { 
    transform: translateY(0);
    opacity: 1;
  }
  to { 
    transform: translateY(-25vh);
    opacity: 0;
  }
}

@keyframes move-in-up {
  from { transform: translateY(75vh) }
  to { transform: translateY(0vh) }
}

@keyframes move-out-down {
  from { transform: translateY(0vh) }
  to { transform: translateY(75vh) }
}

.app {
  text-align: center;
  background-color: $lightgreen;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 92vh;
  margin-bottom: 8vh;

  & button:nth-child(2) {
    animation: move-in-up 800ms ease;
  }
  & button:nth-child(3) {
    animation: move-in-up 1000ms ease;
  }
  & > *:nth-child(4) {
    animation: move-in-up 1200ms ease;
  }

  &-exit {
    & button:nth-child(2) {
      animation: move-out-down 1200ms ease;
    }
    & button:nth-child(3) {
      animation: move-out-down 1000ms ease;
    }
    & > *:nth-child(4) {
      animation: move-out-down 900ms ease;
    }
  }
  & .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 25vh;
    animation: move-in-down 800ms ease;
    
    & .back {
      flex-basis: 135px;
    }
  }
  &-exit .header {
    animation: move-out-up 800ms ease;
  }
}


button {
  font-family: Redressed;
  font-size: 32px;
  color: white;
  background-color: $green;
  width: 233px;
  height: 78px;
  border: none;
  border-radius: 4px;
}

.button {
  &-red {
    background-color: $red;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    font-size: 70px;

    &-highlight {
      box-shadow: #AF0F0F 0px 0px 22px;
    }
  }

  &-blue {
    background-color: $blue;
  }

  &-small {
    height: 68px;
    width: 200px;
  }
}

.speed-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 233px;

  & label {
    font-size: 36px;
    margin-bottom: 7px;
  }
  
  & fieldset {
    width: 100%;
    border: none;
    padding: 0;
    display: flex;
    justify-content: space-between;

    & div {
      & input {
        margin: 0;
        display: none;
      }

      & label {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border: 4px solid black;
        border-radius: 100%;
        
        &::before {
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          left: 50%;
          top: 50%;
          transform: translate(-8px, -8px);
          border-radius: 100%;
          background-color: $green;
          opacity: 0;
        }
      }
      & input:checked ~ label::before {
        opacity: 1;
      }
    }
  }
}
