.app {
  text-align: center;
  background-color: #ced5ff;
  min-height: 100vh;
}

h1 {
  font-size: 2.8rem;
}

button {
  font-family: Redressed;
  font-size: 1.8rem;
  color: white;
  background-color: #138744;
  width: 70%;
  padding: 20px;
  border: none;
  border-radius: 4px;
}

.home {
  display: flex;
  flex-direction: column;
  height: 87vh;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 13vh;
}